body {
background-color: #121212;
color: ghostwhite;
font-family: 'Overpass', serif;
font-size: 1em;
}

a:link {color: darkseagreen;}
a:visited {color: #363636;}

@font-face {
    font-family: Overpass;
    src: url("overpass-regular.otf") format("opentype");
}

@font-face {
    font-family: Overpass;
    font-weight: bold;
    src: url("overpass-bold.otf") format("opentype");
}
